<div  class="form">
  <!--<div class="tab-content">-->
  <div>
    <div id="signup">
      <h1>REGISTER</h1>

      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

        <div class="top-row">
          <div class="field-wrap">
            <label *ngIf="!firstNameRef.value">
                First Name
              </label>
            <input #firstNameRef type="text" required autocomplete="off" formControlName="firstName"/>
          </div>

          <div class="field-wrap">
            <label *ngIf="!lastNameRef.value">
                Last Name
              </label>
            <input #lastNameRef type="text" required autocomplete="off" formControlName="lastName"/>
          </div>
        </div>

        <div class="field-wrap">
          <label *ngIf="!emailRef.value">
              Email<span class="req"></span>
            </label>
          <input #emailRef type="email" required autocomplete="off" formControlName="email"/>
        </div>

        <div class="field-wrap">
          <label *ngIf="!passwordRef.value">
              Password
            </label>
          <input #passwordRef type="password" required autocomplete="off" formControlName="password"/>
        </div>

        <button type="submit" class="button button-block">Get Started</button>

      </form>

    </div>

  </div>
  <!-- tab-content -->
</div>
<!-- /form -->